.photo {
    position: relative;
    margin: auto;
    border-radius: .2rem;
    background-color: #FFF;
    overflow: hidden;
    opacity: 0;
    transform: scale(.8);
    animation: scaleUp .3s forwards;
}

.photoHeader button { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 32px;
    width: 32px;
    height: 32px;
    background-color: #FFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    border: none;
    border-radius: .4rem;
    opacity: .7;
    cursor: pointer;
    z-index: 2000;
    transition: .3s;
}

.photoHeader button::before,
.photoHeader button::after {
    content: "";
    position: absolute;
    height: 16px;
    width: 2px;
    background-color: #333;
}

.photoHeader button:before {
    transform: rotate(45deg);
}

.photoHeader button:after {
    transform: rotate(-45deg);
}

.photoHeader button:hover {
    opacity: 1;
    transition: .3s;
}

.photoSingle .photoHeader {
    display: none;
}

.photoBody {
    display: grid;
    grid-template-columns: 36rem 20rem;
    grid-template-rows: auto 1fr auto;
    height: 36rem;
}

.photoSingle .photoBody {
    grid-template-columns: 1fr;
    height: auto;
}

.img {
    grid-row: 1/4;
}

.photoSingle .img {
    grid-row: 1;
    border-radius: .4rem;
    overflow: hidden;
}

.details {
    padding: 5rem 2rem 0 2rem;
}

.photoSingle .details {
    padding: 1rem 0 0 0;
}

.author {
    opacity: .5;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author a:hover {
    text-decoration: underline;
}

.views::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 10px;
    margin-right: 5px;
    background: url("../../Assets/visualizacao-black.svg") no-repeat;
}

.attributes {
    display: flex;
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.attributes li {
    margin-right: 2rem;
}

.attributes li::before {
    content: "";
    display: inline-block;
    height: 20px;
    margin-right: .5rem;
    position: relative;
    top: 3px;
    width: 2px;
    background-color: #333;
    margin-top: 5px;
}

@keyframes scaleUp {
    to {
        opacity: 1;
        transform: initial;
    }
}

@media (max-width: 64rem) {
    .photo {
        height: auto;
        max-height: calc(100vh - 4rem);
        overflow-y: auto;
    }

    .photoHeader button {
        right: 22px;
    }

    .photoSingle.photo {
        max-height: 100%;
    }

    .photoBody {
        grid-template-columns: minmax(20rem, 40rem);
    }

    .img {
        grid-row: 1;
    }

    .details {
        padding: 1rem 1rem 0 1rem;
    }

    .attributes {
        font-size: 1rem;
    }
}