.comments {
    overflow-y: auto;
    word-break: break-word;
    padding: 1rem 2rem;
}

.photoSingle.comments {
    padding: 1rem 0;
}

.comments li {
    margin-bottom: .5rem;
    line-height: 1.2;
}