.button {
    font-size: 1rem;
    font-family: var(--type-first);
    cursor: pointer;
    border: none;
    border-radius: .4rem;
    background-color: #FB1;
    color: #764701;
    padding: .8rem 1.2rem;
    min-width: 8rem;
    transition: .3s;
}

.button.buttonCancel {
    background-color: #F31;
    color: #EEE;
}

.button:hover,
.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #FEA, 0 0 0 4px #FB1;
    transition: .3s;
}

.button.buttonCancel:hover,
.button.buttonCancel:focus {
    box-shadow: 0 0 0 3px #FAB, 0 0 0 4px #F31;
    transition: .3s;
}

.button:disabled {
    opacity: .5;
    cursor: wait;
}

@media (max-width: 40rem) {
    .button {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
}